.layout {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 300px 1fr; */
    margin: 10px;
}

.card-container {
    display: grid;
    /* grid-template-columns: 300px 1fr; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 31vh 31vh 31vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 4px;
    /* padding: 15px; */
    background-color: cornflowerblue;
}

.card .title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 20pt;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}

.card .usage {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 25pt;
    position: relative;
    top: -30px;
}

.card .status {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 14pt;
    position: relative;
    top: -10px;
}

.chart-container {
    display: block;
    align-items: center;
    position: relative;
    top: -10px;
    max-height: 90% !important;
    /* height: 30vh; */
    /* width: 30vh; */
}

/* canvas {
    display: block !important;
    /* position: relative;
    top: -40px; */
/* box-sizing: border-box !important; */
/* height: 1fr !important; */
/* width: 1fr !important;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

@media only screen and (max-width: 1870px) {
    body {
        background-color: #bbbbbb;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 31vh 31vh 31vh 31vh;

    }
}

@media only screen and (max-width: 1620px) {
    body {
        background-color: #bbbbbb;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 31vh 31vh 31vh 31vh 31vh;

    }
}

@media only screen and (max-width: 1300px) {
    body {
        background-color: #bbbbbb;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 31vh 31vh 31vh 31vh 31vh 31vh;

    }
}

@media only screen and (max-width: 985px) {
    body {
        background-color: #999999;
    }

    .card-container {
        display: grid;
        min-width: 1fr;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 31vh);
    }
}

@media only screen and (max-width: 670px) {
    body {
        background-color: #444444;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(18, 31vh);
    }
}

/* 
@media only screen and (max-width: 501px) {
    body {
        background-color: #444444;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
} */