.layout {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 300px 1fr; */
}

.card-container {
    display: grid;
    /* grid-template-columns: 300px 1fr; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 31vh 31vh 31vh;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* max-height: 350px; */
    margin: 4px;
    padding: 5px;
    background-color: cornflowerblue;
}

.card .h1 {
    font-size: 20pt;
}

/* .card .h2 {
    font-size: 24pt;
    /* position: relative; 
    top: -50px;
} */

.card .h3 {
    font-size: 20pt;
    position: relative;
    top: -30px;
}

.card .h4 {
    font-size: 14pt;
    position: relative;
    top: -10px;
}

.chart-container {
    display: block;
    align-items: center;
    position: relative;
    top: -10px;
    /* height: 30vh; */
    /* width: 30vh; */
}

/* canvas {
    display: block !important;
    /* position: relative;
    top: -40px; */
/* box-sizing: border-box !important; */
/* height: 1fr !important; */
/* width: 1fr !important;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategrey;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

@media only screen and (max-width: 1300px) {
    body {
        background-color: #bbbbbb;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    body {
        background-color: #999999;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    body {
        background-color: #444444;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}